.cell{
    border-style: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    text-align: center;
}
.row{
    display: flex;
}
.rightAndDown{
    border-right-style: solid;
    border-bottom-style:solid;
}
.down{
    border-bottom-style:solid;
}
.right{
    border-right-style: solid;
}
#score{
    text-align: center;
}
